.browser-defaults {
    align-items: stretch;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    float: none;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;

}
