.Navigation {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: left;
  width: 300px;
  transition: all 0.5s;
  font-size: 12px;
}

.Navigation:hover {
  background: rgba(255, 255, 255, 1);
}

.Navigation > ul > li > ul {
  display: none;
}
  .Navigation:hover > ul > li > ul {
    display: block;
  }

.Navigation ul {
  margin: 10px 5px 10px 15px;
  padding: 0;
}
.Navigation ul li {
  padding: 8px;
  list-style: none;
  margin: 2px 10px;
}
.Navigation ul li a {
  background: #333;
  padding: 5px 8px;
  border: 2px solid #333;
  border-radius: 0px;
  text-decoration: none;
  color: #fff;
}

.Navigation ul li a:focus,
.Navigation ul li a:hover {
  background: #fff;
  color: #000;
  border-color: #000;
}

